.image {
    width: 100%;
    height: 100vh;
    background: url(bg.jpg) repeat center;
    background-size: cover;
}
.content {
    margin: 1em;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    border-radius: 12px;
}
.button1:hover {
    background-color: #e7e7e7;
}
.button2 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    border-radius: 12px;
}
.button2:hover {
    background-color: #555555;
    color: white;
}
#map {
    width: 100%;
    height: 700px;
    background-color: grey;
}
.contains {
    color: white;
    font-family: Trattatello, fantasy;
}
.hida {
    color: white;
    font-family: Trattatello, fantasy;
}
.navbar {
    font-family:Luminari, fantasy;
}
.card {
    text-align:center;
}
.dropdown {
    left: 50% !important;
    right: auto !important;
    text-align: center !important;
    transform: translate(-50%, 0) !important;
}
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
    width: 100%;
}
.dropdown {
    text-align: center;
}
.dropdown dd, .dropdown dt {
    margin: 50px;
    padding: 0px;
}
.dropdown ul {
    margin: -1px 0 0 0;
}
.dropdown dd {
    position: relative;
}
.dropdown a, .dropdown a:visited {
    color: #fff;
    text-decoration: none;
    outline: none;
    font-size: 12px;
}
.dropdown dt a {
    background-color: lightsteelblue;
    display: block;
    padding: 8px 20px 5px 10px;
    min-height: 25px;
    line-height: 24px;
    overflow: hidden;
    border: 0;
    width: 272px;
}
.dropdown dt a span, .multiSel span {
    cursor: pointer;
    display: inline-block;
    padding: 0 3px 2px 0;
}
.dropdown dd ul {
    background-color: #4F6877;
    border: 0;
    color: #fff;
    display: none;
    left: 0px;
    padding: 2px 15px 2px 5px;
    position: absolute;
    top: 2px;
    width: 280px;
    list-style: none;
    height: 100px;
    overflow: auto;
}
.dropdown span.value {
    display: none;
}
.dropdown dd ul li a {
    padding: 5px;
    display: block;
}
.dropdown dd ul li a:hover {
    background-color: #fff;
}
.mdc-card {
    font-family: Jazz LET, fantasy;
    text-align: center;
}
#map {
    height: 400px;
    width: 100%;
}